.about {
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: top;
    text-align: center;
}

.wrapper-about {
    min-height: 100vh;;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
} 

.about h1 {
    margin-top: 60px;
    font-size: 8rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    color: var(--site-color-02);
}

.about h3 {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--site-color-01);
}

.about p {
    text-align: left;
    color: var(--site-color-01);
    font-size: 1.8rem;
    margin-bottom: 20px; /* Space between paragraphs */
}

.about-get-in-touch {
    padding: 10px 20px;
    margin: 60px 0px; /* Space above and below the link */
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.about-get-in-touch:hover {
    border: 2px solid var(--site-color-02);
}

.wrapper-about ul {
    color: var(--site-color-01);
    text-align: left;
    font-size: 1.8rem;
}

.wrapper-about ul li:first-child {
    font-weight: bold;
}

.wrapper-about a {
    color: var(--site-color-01);
    font-size: 1.8rem;
    /*font-family: 'Roboto';*/
    cursor: pointer;
    line-height: 30px;
}

.wrapper-about a:hover {
    color: var(--site-color-02);
}

/* MOBILE VERSION */

@media only screen and (max-width: 1200px) {
    .about {
        min-height: auto;
    }

    .wrapper-about {
        min-height: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .about {
        min-height: auto;
    }

    .wrapper-about {
        min-height: auto;
        margin-bottom: 20px;
    }

    .about h1 {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        min-height: auto;
    }

    .wrapper-about {
        min-height: auto;
        margin-bottom: 20px;
    }

    .about h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        min-height: auto;
    }

    .wrapper-about {
        min-height: auto;
        margin-bottom: 20px;
    }

    .about h1 {
        font-size: 3.5rem;
    }

    .about h3 {
        font-size: 1.8rem;
    }

    .about p {
        font-size: 1.6rem;
    };
}
