.contact {
    margin-top: 20px;
    text-align: center;
    min-height: 100vh; /* Allow section to grow beyond viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically if shorter than viewport */
    align-items: center;
    overflow-x: hidden;
}

.wrapper-contact {
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.contact h1 {
    margin-top: 60px;
    font-size: 8rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    color: var(--site-color-02);
}

.contact p {
    text-align: left;
    color: var(--site-color-01);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-get-in-touch {
    padding: 10px 20px;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.contact-get-in-touch:hover {
    border: 2px solid var(--site-color-02);
}

.contact a {
    font-size: 1.8rem;
    cursor: pointer;
    line-height: 20px;
}

/* MOBILE VERSION */

@media only screen and (max-width: 1200px) {
    .contact {
        min-height: auto;
    }

    .wrapper-contact {
        min-height: auto;
    }

    .contact-links {
        margin-bottom: 40px; /* Space above the links */
    }
}

@media only screen and (max-width: 992px) {
    .contact {
        min-height: auto;
    }

    .wrapper-contact {
        min-height: auto;
    }

    .contact h1 {
        font-size: 7rem;
    }

    .contact-links {
        padding: 10px 20px;
        margin-top: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .contact {
        min-height: auto;
    }

    .wrapper-contact {
        min-height: auto;
    }

    .contact h1 {
        font-size: 5rem;
    }

    .contact-links {
        margin-bottom: 40px; /* Space above the links */
    }
}

@media only screen and (max-width: 600px) {

    .contact {
        min-height: auto;
    }

    .wrapper-contact {
        min-height: auto;
    }

    .contact h1 {
        font-size: 3.5rem;
    }

    .contact p {
        font-size: 1.6rem;
    };

    .contact-links {
        margin-bottom: 40px; /* Space above the links */
    }

    .contact-get-in-touch {
        padding: 5px 10px;
        margin-top: auto;
        margin-bottom: 10px;
    }
}