.resources {
    margin-top: 20px;
    text-align: center;
    min-height: 100vh; /* Allow section to grow beyond viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically if shorter than viewport */
    align-items: center;
    overflow-x: hidden;
}

.wrapper-resources {
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.resources h1 {
    margin-top: 60px;
    font-size: 8rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    color: var(--site-color-02);
}

.resources p {
    text-align: left;
    color: var(--site-color-01);
    font-size: 1.8rem;
    margin-bottom: 20px; /* Space between paragraphs */
}

.resource-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resource-get-in-touch {
    padding: 10px 20px;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.resource-get-in-touch:hover {
    border: 2px solid var(--site-color-02);
}

.resources ul {
    color: var(--site-color-01);
    text-align: left;
    font-size: 1.8rem;
    list-style-type: disc;
}

.resources a {
    color: var(--site-color-01);
    font-size: 1.8rem;
    cursor: pointer;
    line-height: 20px;
}

.wrapper-resources a:hover {
    color: var(--site-color-02);
}


@media only screen and (max-width: 1200px) {
    .resources {
        min-height: auto;
    }

    .wrapper-resources {
        min-height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .resources {
        min-height: auto;
    }

    .wrapper-resources {
        min-height: auto;
    }

    .resource-get-in-touch {
        padding: 10px 20px;
        margin-top: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .resources {
        min-height: auto;
    }

    .wrapper-resources {
        min-height: auto;
    }
}

@media only screen and (max-width: 600px) {

    .resources {
        min-height: auto;
    }

    .wrapper-resources {
        min-height: auto;
    }

    .resources h1 {
        font-size: 3.5rem;
    }

    .resources p {
        font-size: 1.6rem;
    };

    .resource-get-in-touch {
        padding: 5px 10px;
        margin-top: auto;
        margin-bottom: 10px;
    }

    .resources ul {
        font-size: 1.6rem;
    }

    .resources a {
        font-size: 1.6rem;      
    }
}


