.resources {
    margin-top: 20px;
    text-align: center;
    min-height: 100vh; /* Allow section to grow beyond viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically if shorter than viewport */
    align-items: center;
}

.wrapper-resources {
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.resources h1 {
    margin-top: 60px;
    font-size: 8rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    color: var(--site-color-02);
}

.resources p {
    text-align: left;
    color: var(--site-color-01);
    font-size: 1.8rem;
    margin-bottom: 20px; /* Space between paragraphs */
}



